



.TitleText{
    background: 1A1A1A;
    width: 100%;
    height: 45vh;
    .OneDiv{
    width: 100%;
    height: 400px;
    background-color: #1A1A1A;
    color: #FFFFFF;
    }
    .TextDiv{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45vh;
        border-color: #262626;
        border-width: 1px;
    }
    .TextDiv p{
        align-items: center;
        font-size: 80px;
        width: 1307px;
        height: 228px;
        span{
            display: inline-block;
            width: 955px;
            height: 25%;
            font-size: 18px;
            padding-left: 40px;
            color: #98989A;
        }
    }
}